<%- include("partials/header") %>

<h1 class="display-4 font-weight-bold text-center text-white">
	Get Your Password
</h1><br>

<form action="/forgotpassword" method="POST">
	<label class="display-4 text-left text-light">Enter your Username:</label>
	<input class="form-control form-control-lg" type="text" name="username"><br>
	<label class="display-4 text-left text-light">Enter your Secret Number:</label>
	<input class="form-control form-control-lg" type="number" name="number"><br>
	<button class="btn btn-lg btn-success" type="submit">SUBMIT</button>
	
</form>

<%- include("partials/footer") %>