<%- include("partials/header") %>

<h1>
	welcome to your event manager
</h1>
<h4>
	what title do you want for your board
</h4>


<form action="/login/<%= userid %>" method="POST">
	<input class="form-control form-control-lg" type="text" name="boardtitle[Title]"><br>
	<button class="btn btn-lg btn-success" type="submit">SUBMIT</button>
	
</form>

<%- include("partials/footer") %>