<%- include("partials/header") %>


<h4  class="h1 font-weight-bold text-center text-white">
	Title for your  board:
</h4><br>


<form action="/signup/<%= userid %>" method="POST">
	<input class="form-control form-control-lg" type="text" name="boardtitle[Title]"><br>
	<div class="d-flex justify-content-center">
		<button class=" btn btn-lg btn-success" type="submit">SUBMIT</button>
	</div>
	
</form>

<%- include("partials/footer") %>