<%- include("partials/header") %>

<div class="jumbotron mb-3 jumbotron-fluid">
  <div class="container">
    <h1 class="text-center trushy font-weight-bold display-2">trushy</h1>
	  <hr class="my-4">
    <p class="text-justify lead"><div class="text-center h2"><span class="font-weight-bold trushy">trushy</span> lets your work more done</div></p><br>
	  
	  <div class="pp text-justify"><span class="font-weight-bold trushy">trushy</span> is one app to replace them all. It's the future of work - where anyone can work on anything. More than just task management.<span class="font-weight-bold trushy">trushy</span>’s boards and cards enable you to organize your projects in a fun, flexible, and rewarding way.This app offers attatchment, due-date, descriptions, scheduling, and even an inbox. Fully customizable,<span class="font-weight-bold trushy">trushy</span> works for every type of user, so every user can use the same app to plan, organize.</div><br>
	<div class="text-center">
		<div class="h3 sl">Signup to get your first board</div><br>
	<a href="/signup"><button type="button" class="bttn btn btn-lg btn-primary">Signup</button></a>
  </div>
</div>





<%- include("partials/footer") %>