<%- include("partials/header") %>

<h2 class="display-3 font-weight-bold text-center text-white">
	SignUp
</h2><br>

<form action="/signup" method="POST">
			<label class="h2 text-left text-light">Username: 			</label><br>
			<input class="form-control form-control-lg" type="text" name="username"><br>
			<label class="h2 text-left text-light"> SecretNumber(in case of password recovery):			</label><br>
			<input  class="form-control form-control-lg" type="number" name="secretno"><br>
			<label class="h2 text-left text-light"> Password: 			</label><br>
			<input  class="form-control form-control-lg" type="password" name="password"><br>
			<button class="btn btn-lg btn-success" type="submit">SIGNUP</button>
</form>
<%- include("partials/footer") %>