body{
	background: url("https://images.unsplash.com/photo-1566617089625-1809173be38d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=282&q=80");
	background-size: cover;
	background-repeat: no-repeat;
}

.card-body{
	background: url("https://images.unsplash.com/photo-1548700819-892a76eed325?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
}

.navbar{
	margin: 10px 5px 10px 5px;
	padding: 0.5px 15px 0.5px 15px;
	background: #88ffff;
	border: 1.5px solid black;
	border-radius: 5px;
}
.nav-item{
	font-size:17px;
	margin-bottom: 0px;
}
.navbar-brand{
	font-size:25px;
	font-family: "Lucida Console";
	font-weight: 55rem;
}
.h1{
	color: red;
	text-decoration: underline;
}
.h2{
	color: red;
	font-weight: 100px;
}